h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0C6C89;
}

p {
    color: #0C6C89;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
}

label {
    color: #0C6C89;
}

form {
    width: 75%;
}

.nav-link {
    color: #0C6C89;
}

.logo {
    margin-left: 21rem;
}

.hero-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
}

.hero::before {
    content: "";
    background-image: url(../images/news-letter-hero.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
    filter: grayscale(85%) brightness(75%) sepia(50%) hue-rotate(-180deg) saturate(700%) contrast(0.5);
}

.hero-title {
    position: relative;
    color: #ffffff;  
    text-align: center;
}

.form-container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text], input[type=email] {
	display:block;
    position: relative;
	border-bottom: 1px solid #0C6C89;
    background-color: #F1F1F1;
    border-radius: 0%;
	padding: 12px;
    margin-bottom: 15px;
    width: 100%;
    height: 2.5rem;
    font-size: 17px;
    outline: none;
}

.divider {
    border-bottom: 1px solid #0C6C89;
    width: 75%;
    margin: auto;
}

.thank-you {
    line-height: 2rem;
}

.button-container {
    margin: auto;
    width: 75%;
}

#footer-container {
    width: 75%;
}


@media (max-width: 640px) {
    .logo {
        margin-left: 0rem;
    }

}